# Solar Eclipses

What is the average duration of total darkness during a total solar eclipse? When did the longest solar eclipse occur?

The file `solar-eclipses.csv` provides information on all solar eclipses from 1901 to 2100, leveraging the ability of scientists to accurately predict the timing and location of future eclipses.

A solar eclipse happens when the Moon moves between the Earth and the Sun, blocking the Sun's light either partially or completely. There are three primary types of solar eclipses:

1. Total Solar Eclipse: The Moon fully covers the Sun, casting a shadow on Earth and revealing the Sun's corona.

2. Partial Solar Eclipse: The Moon obscures only part of the Sun, creating a crescent-shaped appearance.

3. Annular Solar Eclipse: The Moon covers the center of the Sun, leaving a ring-like appearance, known as a "ring of fire," around the edges. This occurs when the Moon is too far from Earth to completely cover the Sun.

The `duration` variable indicates the length of time that the entire moon covers the sun.

In [290]:
# FOR GOOGLE COLAB ONLY.
# Uncomment and run the code below. A dialog will appear to upload files.
# Upload 'solar-eclipses.csv'.

# from google.colab import files
# uploaded = files.upload()

In [10]:
import pandas as pd
# Set max column width to 1000 for better display of long text fields. 
pd.set_option('display.max_colwidth', 1000)
df = pd.read_csv('solar-eclipses.csv')
df

,date,eclipse_type,magnitude,duration,region
0,05-18-1901,Total,1.068,06m29s,"s Asia, Australia, e Africa [Total: Indonesia, N Guinea, Madagascar]"
1,11-11-1901,Annular,0.922,11m01s,"ne Africa, Asia, w Europe [Annular: ne Africa, India, Sri Lanka, se Asia]"
2,04-08-1902,Partial,0.064,NaN,northern Canada
3,05-07-1902,Partial,0.859,NaN,"New Zealand, South Pacific"
4,10-31-1902,Partial,0.696,NaN,"c Asia, e Europe"
...,...,...,...,...,...
439,10-24-2098,Partial,0.006,NaN,Southern Ocean (near Antarctica)
440,03-21-2099,Annular,0.932,07m32s,"Australia, N.Z., Antarctica, N. America [Annular: Central Pacific]"
441,09-14-2099,Total,1.068,05m18s,"Americas, Africa [Total: Canada, U.S., Central Atlantic]"
442,03-10-2100,Annular,0.934,07m29s,"Australia, N. America [Annular: Central Pacific, U.S.]"
443,09-04-2100,Total,1.040,03m32s,"Africa, Antarctica [Total: Central Africa, Madagascar]"

### Project Ideas:

- When did the longest solar eclipse occur? The longest total eclipse?
	- Hint: convert duration to seconds. You can use `str.replace('s', '')` to remove the 's' from the duration values.

- What is the average duration of total solar eclipses? 

- Show the next 10 solar eclipses?
	- Hint: convert date to datetime.

In [53]:
# YOUR CODE HERE (add additional cells as needed)
# Replace the letter 's' in the 'duration' column with an empty string.
df['duration'] = df['duration'].str.replace('s', '')
# Split the 'duration' column into minutes and seconds, convert to total seconds, and add as a new column 'duration_seconds'.
duration = df['duration'].str.split('m', expand=True).fillna(0).rename(columns={0: 'minutes', 1: 'seconds'})
# Convert the 'minutes' and 'seconds' columns to integers and calculate total duration in seconds.
df['duration_seconds'] = duration['minutes'].astype(int) * 60 + duration['seconds'].astype(int)
date_longest_solar = df.query('duration_seconds == duration_seconds.max()')['date']


# Find the avg duration of all solar eclipses in seconds.
avg_duratiionn = round(df['duration_seconds'].mean(), 2)

# Convert the 'date' column to datetime format.
df['date'] = pd.to_datetime(df['date'])

next_ten_solar = df.query('date > "2025-08-10"').nsmallest(10, 'date')


print(f"The date of the longest solar eclipse is: {date_longest_solar.values[0]}")
print(f"The average duration of all solar eclipses in seconds is: {avg_duratiionn}")
print("The next 10 solar eclipses after August 10, 2025 are:")
print(next_ten_solar[['date', 'eclipse_type', 'duration_seconds']].to_string(index=False))

The date of the longest solar eclipse is: 1955-12-14T00:00:00.000000000
The average duration of all solar eclipses in seconds is: 156.97
The next 10 solar eclipses after August 10, 2025 are:
      date eclipse_type  duration_seconds
2025-09-21      Partial                 0
2026-02-17      Annular               140
2026-08-12        Total               138
2027-02-06      Annular               471
2027-08-02        Total               383
2028-01-26      Annular               627
2028-07-22        Total               310
2029-01-14      Partial                 0
2029-06-12      Partial                 0
2029-07-11      Partial                 0